<?xml version="1.0"?>
<ruleset
        name="Modern Tribe PHPCS coding standards"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
>
    <description>Modern Tribe Coding Standards.</description>

    <file>lib</file>

    <arg name="extensions" value="php"/>
    <arg name="severity" value="4"/>
    <arg name="tab-width" value="4"/>

    <!-- Include the full Modern Tribe coding standard -->
    <rule ref="ModernTribe"/>
</ruleset>
